<header class="header">
    <div class="container">
        <a href="#inicio" class="logo">Automaticweb</a>
        <nav class="nav">
            <ul class="nav-menu">
                <li><a href="#inicio">Início</a></li>
                <li><a href="#servicos">Serviços</a></li>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#contato">Contato</a></li>
                <li><a href="/src/pages/blog/blog">Blog</a></li>
            </ul>
        </nav>
        <a href="#contato" class="cta-button">Fale Conosco</a>
    </div>
</header>