---
// src/layouts/BaseLayout.astro
import Header from '../components/Header.astro'; // Importa o Header
import Footer from '../components/Footer.astro'; // Importa o Footer
const { title } = Astro.props;
---
<!doctype html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8" />
	<title>{title} | Automaticweb</title>
	<link rel="stylesheet" href="/styles/global.css" />
</head>
<body>
<Header />  <main>
	<slot />
</main>
<Footer />  </body>
</html>